* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-de-titulos: #202a45;
    --color-de-parrafo: #83878a;
    --color-secundario: #3c43f3;
    --color-toggle-menu: #fff;
    --color-de-fondo: #fff;
    --color-de-link: #000;
    --color-icon-de-redes: #063251;
}
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    line-height: 1;
    text-align: justify;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-parrafo);
    cursor: pointer;
}

/*Mobile*/
    /*Menu*/
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-de-titulos);
        margin: 0 auto;
        padding: 20px;
    }
    .menu__nav {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
    .menu__list {
        display: none;
    }
    .menu__header {
        width: 70%;
        display: flex;
        justify-content: flex-start;
    }
    .menu__title {
        padding-left: 10px;
        color: var(--color-de-titulos);
    }
    .menu__ham, .menu__toggle-btn {
        border: none;
        background: none;
        cursor: pointer;
    }
    .menu-icon {
        height: 25px;
    }
    /*Menu toggle*/
    .menu__toggle {
        width: 100%;
        height: 100vh;
        background-color: cornflowerblue;
        color: var(--color-toggle-menu);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s linear;
        transform: translate(-100%);
        padding: 20px 0;
    }
    .show-menu__toggle {
        transform: translate(0);
    }
    .inactive {
        display: none;
    }
    .menu__toggle-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .toggle__header {
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        margin: 0 auto;
    }
    .toggle__btn {
        width: 40%;
        text-align: end;
    }
    .toggle__title {
        padding-left: 10px;
        color: var(--color-toggle-menu);
    }
    .close-icon {
        height: 25px;
        width: 30%;
        color: var(--color-toggle-menu);
    }
    .icon-lord{
        width: 25px;
        height: 25px;
    }
    .remove__icon{
        transition: all 2s linear;
        display: none;
    }
    .menu__toggle__item {
        margin-top: 10px;
        font-size: 20px;
    }
    .menu__toggle__item a {
        color: var(--color-toggle-menu);
    }
    .underline {
        display: inline-block;
        position: relative;
      }
      
      .underline:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: var(--color-icon-de-redes);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
      }
      
      .underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    .menu__social-icons {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .menu__social-icons a {
        font-size: 1.5rem;
        margin: 0 0.5rem;
        color: var(--color-toggle-menu);
    }
    .menu__social-icons a:hover {
        color: var(--color-icon-de-redes);
    }
    /*Titulo*/
    .title {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 340px;
        margin: 0 auto;
        padding: 20px;
    }
    .title__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .title__bio{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
    .title__subsection {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: var(--color-de-parrafo);
    }
    .title__profile{
        border-radius: 100%;
    }
    .title__network {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: var(--color-de-parrafo);
    }
    /*Sección sobre mi*/
    .about{
        height: 400px;
        background-color: #EAF2FD;
        margin: 0 auto;
        padding: 20px;
    }
    .about__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .about__title {
        font-size: 22px;
        line-height: 22px;
    }
    .about__paragraph{
        font-size: 14px;
        line-height: 16px;
    }
    /*Skills*/
    .skills {
        height: 500px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 20px;
    }
    .skills__title {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    .skills__box {
        width: 100%;
        height: 120px;
        text-align: center;
    }
    .skills__box ul li {
        margin-bottom: 15px;
    }
    .skills__line {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        gap: 15px;
    }
    
    /*Hobbies*/
    .hobbies {
        height: 500px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 20px;
    }
    .hobbies__title {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    .hobbies__box {
        width: 100%;
        height: 120px;
        text-align: center;
    }
    .hobbies__box ul li {
        margin-bottom: 15px;
    }
    .hobbies__line {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        gap: 15px;
    }
    .hobbies__img svg {
        display: inline-block;
        height: 75px;
    }

    /*Formación Académica*/
    .academic {
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #eaf2fd;
        margin: 0 auto;
        padding: 20px;
    }
    .academic__title {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    .academic__courses {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .academic__courses__box {
        width: 100%;
        text-align: center;
    }
    .academic__courses__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .academic__courses__item__img {
        height: 118px;
        width: 100%;
        background-color: #2a7ae4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .academic__courses__item__title, .academic__courses__item__subtitle{
        text-align: left;
    }
    .academic__courses__item__subtitle {
        font-size: 14px;
        font-weight: 400;
    }

    /*Experiencia Profesional*/
    .experience {
        height: auto;
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 20px;
        align-items: center;
    }
    .experience__section__title{
        font-size: 22px;
    }
    .experience__box {
        margin-bottom: 25px;
    }
    .experience__img {
        margin-bottom: 15px;
    }
    .experience__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .experience__title {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
    }
    .experience__text {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }
    .experience__btn--repo {
        width: 111px;
        padding: 12px;
        color: #2a7ae4;
        background-color: white;
        border: 1px solid #2a7ae4;
        cursor: pointer;
    }
    .experience__btn--demo {
        width: 111px;
        padding: 12px;
        color: white;
        background-color: #2a7ae4;
        border: none;
        cursor: pointer;
    }
    .experience__btn--demo:hover, .experience__btn--repo:hover{
        font-weight: bold;
    }
     /*Contacto*/
    .formContacto {
        background-color: #EAF2FD;
        margin: 0 auto;
        padding: 20px;
    }
    .formContacto__title {
        font-size: 22px;
        line-height: 26px;
        font-weight: bold;
    }
    .formContacto__subtext {
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
    }
    .formContacto__form {
        font-size: 14px;
    }
    .formContacto--izquierda {
        display: none;
    }
    .formContacto__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .formContacto__form > label {
        font-weight: bold;
    }
    .formContacto__input, .formContacto__textarea {
        width: 98%;
        height: 50px;
        margin: 15px 5px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #mensaje {
        height: 133px;
    }
    .formContacto__btn {
        width: 120px;
        padding: 12px;
        color: white;
        background-color: #2a7ae4;
        border: none;
        cursor: pointer;
    }
    .btn--disable{
        opacity: 0.5;
    }

    /*Footer*/
    .footer {
        height: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
    }
/* Mobile */
@media screen and (min-width: 379px) {
    .about{
        height: 300px;
    }
    .skills__line, .hobbies__line {
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }
    .academic{
        margin-bottom: 30px;
    }
}
/*Tablet*/
@media screen and (min-width: 690px) {
.title {
    height: 240px;
    }
.title__div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.title__profile{
    height: 145px;
}

/*Skills*/ /*Hobbies*/

/*Formación Académica*/
    .academic {
        height: 300px;
    }
    .academic__courses {
        flex-direction: row;
    }

    .formContacto__title{
        margin: 20px 0;
    }
}

@media screen and (min-width:1000px ) {
    .menu, .title, .about, .skills, .hobbies, .academic, .experience, .formContacto, .footer {
        padding: 20px 50px;
    }
    .title{
        height: 400px;
    }
    .title__container{
        justify-content: space-between;
    }
    .title__bio{
        font-size: 52px;
        line-height: 60px;
    }
    .title__subsection{
        font-size: 22px;
        line-height: 26px;
    }
    .title__profile{
        height: 300px;
    }
    .title__network{
        font-size: 16px;
    }
    /* About */
    .about__container{
        max-width: 780px;
    }
    .about__title{
        font-size: 32px;
        line-height: 38px;
    }
    .about__paragraph{
        font-size: 16px;
        line-height: 19px;
    }

    .academic{
        height: 500px;
        justify-content: space-evenly;
    }
    .academic__courses__item__img{
        height: 150px;
    }


    .experience{
        gap: 35px;
    }
    .experience__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .experience__box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .experience__box:nth-child(odd){
        flex-direction: row-reverse;
    }
    .experience__img{
        width: 70%;
        height: auto;
    }

    .formContacto__contacto{
        display: flex;
    }
    .formContacto--izquierda{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 25px;
    }
    .formContacto__text{
        width: 50%;
    }
    .formContacto__img{
        height: 300px;
    }
}

@media screen and (min-width:1200px) {
    /* Menu */
    .menu__header{
        width: 40%;
    }
    .menu__nav{
        width: 60%;
    }
    .menu__list{
        display: flex;
        gap: 20px;
        font-size: 20px;
    }
    .menu__ham{
        display: none;
    }
}